/**********************************************
*** Tags                                      *
***********************************************/
body{
  font-family: var(--bs-font-monospace);
}





/**********************************************
*** Classes                                   *
***********************************************/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}



.blockquote-footer{
    margin-top: 0rem;
    margin-bottom: -1rem;
}



.container{
  margin-left: unset;
}



.fa, .fas, .far {
  width: 1.5em;
  text-align: center;
}



/* 
* Photo will not be displayed on sm and xs
* Photo will be displayed on print version
*/
@media print, screen and (min-width: 768px){
  .footer{
    min-height: 7.5em;
    background-image: url(../img/photo.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 7.5em;
  }
}



.margin-top-revert{
  margin-top: revert;
}



.navbar{
  position: relative;
  justify-content: revert;
}



.sidebar{
  position: absolute;
  top: 0rem;
  background-image: url(../img/background.jpg);
}
@media screen and (max-width: 768px){
  .sidebar{
    position: relative!important;
    padding: unset;
  }
}



@media screen and (max-width: 768px){
  .text-center-sm{
    text-align: center;
  }
}



.text-right {
  text-align: right;
}



/**********************************************
*** Print layout                              *
***********************************************/
@media print {
  body {
    background-image: none;
    -webkit-print-color-adjust: exact;
    box-shadow: inset 0 0;
    -webkit-box-shadow: inset 0 0;
    overflow: visible !important;
  }
  .sidebar{
    display: block!important;
    position: relative!important;
    padding: unset;
    page-break-before: always;
    page-break-after: always;
    padding-bottom: 125px; /* Quick, dirty fix to make a beautiful 2-page layout */
  }
  .hide-print{
    display: none;
  }
}